{%extends 'base.html'%}
{%load static%}
{%block content%}


    <h2 class="heading1">About us</h2>

    <section id="container">
        <div class="ph">
            
            <p class="paragraph">Hao
                Tai Int Co a partner of Asia's top financial group, is
                currently one of the <br> few overseas financial operating companies. <br>
                <br>
                From
                2019 to 2020 it won unanimous praise in the industry
                and a number <br> of technical patents, and completed the top ten
                outstanding performance <br> indicators in Asia Accompanying
                international financial markets. <br>
                <br>
                In
                response to the technological development of the <br> times,
                in 2019 the company invested heavily to build a technology
                industrial park, further <br> study industry technologies, and recruit
                talents for the global market It <br> plans to obtain the leading honor
                in the Asian financial industry in 2021 - <br> 2022. <br>
                <br>
                The
                company's main business blockchain technology
                application and <br> research and development, overseas financial
                investment and financing <br> consulting, business information
                registration, software research and <br> development, electronic trading
                of bulk commodities, overseas physical <br> trade operations, etc.</p>
                <div class="frame">
                    <div class="frame1">
                        <h3>15000</h3>
                        <h5>Num. of employes</h5>
                    </div>
                    <div class="frame1">
                        <h3>MaeSot</h3>
                        <h5>Location</h5>
                    </div>
                    <div class="frame1">
                        <h3>430+</h3>
                        <h5>Num. of Buildings</h5>
                    </div>
                    <div class="frame1">
                        <h3>72 Acres</h3>
                        <h5>Area</h5>
                    </div>
                 </div>
                </div>
                 <div class="rect">
                <img src="../static/images/Rectangle 7.png" alt="">
                 </div>
        
        </section>

        {%endblock%}
       <script src="./menu.js"></script>

    
    



</body>
</html>